<nav class="max-w-full lg:h-[15%] md:h-[17%] h-[20%] px-5 py-3
    bg-[#283845] grid grid-cols-6 gap-3 items-center">

  <section class="col-span-3 md:col-span-2 flex items-center">
    <div class="md:w-[25%] w-[150px]">
      <img src="/images/logoWhite.svg" alt="" class="w-[80%]">
    </div>
    <h1 class="text-lg md:text-3xl lg:text-4xl text-white ml-2">{{Ubi.toUpperCase()}}</h1>
  </section>

  <section class="col-span-4 md:col-span-2 flex items-center justify-start md:mt-0">
    <div *ngIf="Ubi === 'Proyectos'; else noSearch"
      class="flex w-full bg-[#f6efe5] items-center rounded-3xl py-2 pr-4 pl-2 relative">
      <input type="search" [(ngModel)]="searchText" (input)="handleInputChange()" placeholder="Buscar..." maxlength="60"
        class="w-full md:px-5 md:py-1 focus:outline-none bg-transparent">

      <div *ngIf="searchText; else searchIcon" (click)="clearSearch()">
      </div>

      <ng-template #searchIcon>
        <div class="cursor-pointer text-gray-500">
          <i class="bi bi-search"></i>
        </div>
      </ng-template>

      <div *ngIf="noResults && hasValidSearchText"
        class="absolute top-full left-0 mt-2 bg-red-100 border border-red-300 text-red-700 px-4 py-2 rounded-lg shadow-lg z-50 max-w-[90%] w-fit break-words whitespace-normal">
        <div class="flex items-start">
          <i class="bi bi-exclamation-circle mr-2 mt-1 text-red-600 flex-shrink-0"></i>
          <span class="flex-1">
            No se encontraron proyectos que coincidan con "<span class="font-semibold">{{searchText}}</span>"
          </span>
        </div>
      </div>
    </div>

    <ng-template #noSearch>
      <div></div>
    </ng-template>
  </section>

  <section class="col-span-3 md:col-span-2 flex items-center justify-end 
    md:relative absolute 
    md:right-0 md:top-0 right-5 top-5">
    <app-notification />
    <div
      class="md:w-[30%] w-[40%] h-full bg-[#f6efe5] py-3 rounded-3xl ml-2 flex flex-row align-middle items-center relative cursor-pointer"
      (click)="goMiPerfil()">
      <h2 class="ml-3 text-center text-xl lg:text-black text-transparent">Usuario</h2>
      <img src="/images/uguri.jpg" alt="" class="md:w-[49px] w-[90%] rounded-full absolute md:right-0 right-0.5">
    </div>
  </section>
</nav>