<aside
    class="lg:w-[250px] md:w-[200px] w-[80px] h-full bg-[#283845] flex flex-col justify-between items-center border-y-4 border-[#f6efe5]">

    <div class="w-full flex flex-col justify-center items-center md:space-y-16 space-y-6 mt-12">

        <app-options initIcon="bi-folder-fill" hoverIcon="text-[#f6efe5]" option="Mis Proyectos"
            direction="/proyectos/" />

        <app-options initIcon="bi-clipboard2-data-fill" hoverIcon="text-[#f6efe5]" option="Reportes"
            direction="/reportes/" />

        <app-options initIcon="bi bi-calendar-event" hoverIcon="text-[#f6efe5]"
            option="Reuniones" direction="/agenda" />

        <app-options initIcon="bi bi-people-fill" hoverIcon="text-[#f6efe5]"
            option="Clientes" direction="/clientes" />

        @if (admin && admin === 1) {
        <app-options initIcon="bi-building" hoverIcon="text-[#f6efe5]"
            option="Arquitectos" direction="/arquitectos" />
        }

    </div>

    <div (click)="onLogout()" class="w-full flex justify-center mb-8">
        <app-options initIcon="bi-box-arrow-right" hoverIcon="text-[#f6efe5]" option direction="/" />
    </div>

</aside>